@import url("https://api.fontshare.com/v2/css?f[]=general-sans@200,500,300,600,400,700&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'General Sans', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #000000;
}

.container{
    width: 100%;
    height: 82vh;
    background-image: url(back.jpg);
    background-position: center;
    background-size: cover;
}

nav{
    width: 100%;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
  }
  .logo a{
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1.5px;
    text-decoration: none;
  }
  span{
    color:  hsl(183 81% 35%);
  }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
  }
  nav ul li a{
    text-decoration: none;
    transition: 0.5s;
  }
  nav ul li a:hover{
    color:  hsl(183 81% 35%);
  }

a{
    color: #ffffff;
}

.content{
    width: 100%;
    height: 100%;
    color: #ffffff;
    padding: 3% 12%;
    padding-top: 0%;
}

.form{
    width: 40%;
    height: 100%;
    background-color: #000000;
    color: #ffffff;
    border-radius: 10px;
    padding: 5% 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #ffffff;
    gap: 22px;
}

.form > h2{
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.form > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}

.form > .pd{
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.pd > div{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 4px;
}

input{
    padding: 10px 20px;
    outline: none;
    border-radius: 10px;
    background-color: #000000;
    color: #ffffff;
    border: 1px solid #ffffff;
}

.form > .gender{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.gender > div{
    display: flex;
    gap: 20px;
}

.gender > div > div{
    display: flex;
    gap: 5px;
}

.gender > div > div > input, label{
    cursor: pointer;
}

.submitBtn{
    align-self: flex-end;
    border: none;
    outline: none;
    background-color: hsl(183 81% 35%);
    color: #ffffff;
    border: 2px solid hsl(183 81% 35%);
    width: 100%;
    padding: 15px 0;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 600;
    margin-top: auto;
    transition: all ease 0.5s;
}

.submitBtn:hover{
    background-color: #000000;
    border: 2px solid hsl(183 81% 35%);
    color: white;
}

.noti{
    position: absolute;
    top: 80%;
    right: 20%;
    background-color: hsl(125, 100%, 42%);
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.7s;
}

.noti.visible{
    top: 50%;
    right: 20%;
    visibility: visible;
    opacity: 1;
}

.noti > span{
    display: flex;
    align-items: center;
    gap: 15px;
    color: #ffffff;
    font-size: 20px;
}

.noti > span > span{
    color: #ffffff;
}