@import url("https://api.fontshare.com/v2/css?f[]=general-sans@200,500,300,600,400,700&display=swap");


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'General Sans', sans-serif;
    scroll-behavior: smooth;
}

body{
    background-color: #000000;
}

.container{
    width: 100%;
    height: 82vh;
    background-image: url(back.jpg);
    background-position: center;
    background-size: cover;
}

nav{
    width: 100%;
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
  }
  .logo a{
    font-size: 40px;
    font-weight: 900;
    letter-spacing: 1.5px;
    text-decoration: none;
  }
  span{
    color:  hsl(183 81% 35%);
  }
  nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
  }
  nav ul li a{
    text-decoration: none;
    transition: 0.5s;
  }
  nav ul li a:hover{
    color:  hsl(183 81% 35%);
  }

a{
    color: #ffffff;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    color: #ffffff;
    padding: 3% 12%;
    padding-top: 0%;
}

.summary{
    width: 60%;
    height: 100%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3% 0%;
    border: 2px solid #999999;
}

.summary > h2{
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 1px;
}

.summary > div{
    margin-top: 6%;
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.summary > div > .fDetails{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.fDetails > div{
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.fDetails > div > label{
    font-size: 16px;
    color: hsl(183 81% 35%);
}


.passDetails{
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-between;
    font-size: 20px;
    display: flex;
}

.age{
    display: flex;
    flex-direction: column;
}

.passDetails > div > label{
    color: hsl(183 81% 35%);
    font-size: 16px;
}

.passDetails > .age > div{
    align-self: flex-end;
}


.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
}

label{
    font-size: 16px;
    color: hsl(183 81% 35%);
    font-weight: 600;
}

.details > .fromTo{
    display: flex;
    align-items: center;
    gap: 50px;
}

.details > .date{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date > label{
    align-self: flex-end;
}

.time{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-size: 20px;
    gap: 20px;
}

.time > div{
    display: flex;
    gap: 20px;
}

.dates > div{
    display: flex;
    flex-direction: column;
}

.dates > div > label{
    align-self: flex-end;
}

.bill{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.bill > .pid{
    display: flex;
    flex-direction: column;
}

.bill > .paid{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.paid > label{
    font-size: 20px;
}

.paid > div{
    font-weight: 600;
}
