<!DOCTYPE html>
<html lang="en">
  <title>Confirmed</title>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!--<title>Simple Website Design</title>-->
    <!---Custom Css File!--->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/cancelnext.css' %}" />
  </head>
  <body>
    <div class="container">
      <nav>
        <div class="logo">
          <a href="#">Swish<span>Airlines.</span></a>
        </div>
        <ul>
          <li><a href="{% url 'homepage' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="{% url 'services' %}">Services</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <!-- <div class="buttons">
          <a href="#" class="login">Log in</a>
          <a href="#" class="btn">Register</a>
        </div> -->
      </nav>

      
      <div class="content">
        <div class="noti">
            <span><span>Cancelled Successfully</span> <i class="fa-solid fa-circle-check" id="c"></i></span>
        </div>
      </div>
      
    </div>
  </body>
</html>
