<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/confirmpay.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Confirm Payment</title>
</head>

<body>
    <nav>
        <div class="logo">
            <a href="#">Swish<span>Airlines.</span></a>
        </div>
        <ul>
            <li><a href="{% url 'homepage' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
        <!-- <div class="buttons">
          <a href="#" class="login">Log in</a>
          <a href="#" class="btn">Register</a>
        </div> -->
    </nav>

    <form action="receipt/" method="POST">

        {% csrf_token %}

        <div class="container">

            <div class="content">
                <div class="payment">
                    <h2>Checkout</h2>

                    <div>
                        <div>Select a Payment Method</div>

                        <input type="radio" value = "UPI" name="mode" id="option-1" checked>
                        <input type="radio" value = "Credit Card" name="mode" id="option-2">
                        <label for="option-1" class="option option-1">
                            <span>
                                <span>UPI</span>
                                <i class="fa-brands fa-google-pay" style="font-size: 40px;"></i>
                            </span>
                        </label>
                        <label for="option-2" class="option option-2">
                            <span>
                                <span>Credit Card</span>
                                <i class="fa-solid fa-credit-card" style="font-size: 20px;"></i>
                            </span>
                        </label>
                    </div>

                    <input type="hidden" name = "flightid" value = "{{flightid}}">
                    <input type="hidden" name = "passid" value = "{{passid}}">

                    <button class="payBtn" onclick="pay()">Pay</button>
                </div>

                <div class="check">
                    <div>
                        <i class="fa-solid fa-circle-check" id="c"></i>
                        <span>Confirmed Flight Booking</span>
                        <!-- <div>
                            <label>Payment ID</label>
                            <div>431</div>
                        </div> -->
                    </div>
                </div>
            </div>

        </div>
    </form>
</body>

<script>
    const c = document.querySelector(".check");
    const check = document.querySelector("#c");

    function pay() {
        c.classList.add('visible');
        check.classList.add('visible');
    }
</script>

</html>